line-length = 140

[lint]
select = [
    "ARG",
    "B034",
    "C901",
    "E",
    "EXE",
    "F",
    "FA",
    "I",
    "N",
    "UP032",
    "RET",
    "W",
    "PL",
]
ignore = ["PLR2004"]

[lint.extend-per-file-ignores]
"*.ipynb" = [
    "PLE1142", # await-outside-async: Jupyter Notebooks support top level await
    "E402",    # module-import-not-at-top-of-file: It's relatively common to have to import "just in time"
]
